//- Footer
footer
	p © 2015 Mysite. All rights reserved.
	ul.uk-navbar-nav
		each val in [1, 2, 3, 4, 5]
			li
				a= val

//- script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
script(src='/js/vendor/jquery-2.0.3.min.js')
script(src='/js/main.js')
